
.logo{
    display: flex;
    flex-direction: row;
    height: 150px;
    margin-top: 0px;

}
.img-logo{
    forced-color-adjust: none;
    height: 92px;
    width: 272px;
    margin-left: 530px;
    margin-top: 35px;
}